---
export interface Props {
	image: any;
	quote: string;
	author: string;
	position?: string;
	company?: string;
}

const { image, quote, author, position, company } = Astro.props;
---

<!-- Testimonial -->
<div class="body-block quote-block">
	<div class="content-container">
		<div class="quote-wrapper">
			<img src={image.src} loading="lazy" alt="" class="quote-image" />
			<div class="quote-text-wrapper">
				<blockquote>"{quote}"</blockquote>
				<div class="spacer-m"></div>
				<p class="quote-name">— {author}{position && `, ${position}`}{company && ` @ ${company}`}</p>
			</div>
		</div>
	</div>
</div>
